{% extends "base.html.twig" %}

{% set image     = trick.images|first %}

{% if image %}
    {% set cover = image.name %}
{% else %}
    {% set cover = 'me-622e7cad5b1e1.jpg' %}
{% endif %}

{% block body %}
    <div class="container">
        <div class="trick_img mb-3">
            <img style="height: 20rem;" src="{{ asset('uploads/tricks/' ~ cover) }}" class="card-img-top" alt="Cover">
            {% include "partials/collections.html.twig" %}
        </div>

        <div class="container text-justify">
            <blockquote ="blockquote">
                {{ trick.description|nl2br }}
            </blockquote>
        </div>

        <div class="justify-content-center">
            <div class="row text-center post-meta">
                <small class="col-4">
                    publié le: {{ trick.createdAt ? trick.createdAt|date("d-m-Y") : ''}}
                </small>
                <small class="col-4">
                    catégorie: {{ trick.group.name|title }}
                </small>
                <small class="col-4">
                    modifier le: {{ trick.updatedAt ? trick.updatedAt|date("d-m-Y") : "" }}
                </small>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-12">
                {% if app.user %}
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">Sauver</button>
                    {{ form_end(form) }}
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Connectez-vous pour participer à la discusion</a>
                {% endif %}
            </div>
        </div>
        
        <hr>
        <div class="container">
            <h5 class="m2">Discussions</h5>
            <div class="row bg-light m-3">
                {% for comment in comments %}
                {% set author = comment.user %}
                    <div class="row border border-secondary border-1 p-2 mb-2">
                        <div class="col-2">
                            <img src="{{ asset('uploads/avatar/' ~ author.avatar) }}" class="rounded-circle" style="width: 50px;"
                            alt="Avatar" />
                        </div>
                        <div class="col-10 text-justify">
                            <p class="text-info mb-0 mt-0">{{ comment.user.name|title }} a écrit <span class="text-muted">le {{ comment.createdAt|date('d-m-Y') }}</span></p>
                            {{ comment.message|nl2br }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if previous >= 0 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('trick_show', {id: trick.id, offset: previous }) }}">Précédent</a>
                        </li>
                    {% endif %}

                    {% if next < comments|length %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('trick_show', {id: trick.id, offset: next }) }}">Suivant</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
